.login {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    /* 100px */
    padding-bottom: 100px;
}


.login>img {
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login>form {
    display: flex;
    flex-direction: column;

}

.login>form>input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.login>form>button {
    width: 365px;
    height: 50px;
    font-size: large;
    color: #fff;
    background-color: #0074b1;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

.login>form>button:hover {
    opacity: 0.7;
}

.login>form>button:focus {
    opacity: 0.7;
}

.login_register {
    color: #0074b1;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}

.login_register:hover {
    opacity: .8;
}

.login>p {
    margin-top: 20px;

}

.login_message {
    margin-top: 10px;
    font-size: large;
    font-weight: 400;
}

.login_name {
    font-weight: bolder;
}

.arrow {
    color: #0074b1;
}